assignment/assignment1/assignment1.aux
assignment/assignment1/assignment1.fdb_latexmk
assignment/assignment1/assignment1.log
assignment/assignment1/assignment1.out
assignment/assignment1/assignment1.synctex.gz
assignment/assignment1/assignment1.fls
assignment/assignment1/assignment1.thm
