assignment/assignment1.aux
assignment/assignment1.fdb_latexmk
assignment/assignment1.fls
assignment/assignment1.log
assignment/assignment1.out
assignment/missfont.log
assignment/assignment1.synctex.gz
